* {
    padding: 0;
    margin: 0;
}


/* ----------------------------------------------  Header*/

/* ---------------------  Header Info*/

.oxon-info-on-top {
    text-align: center;
}

/* ---------------------  /.Header Info*/

/* ---------------------  Header Navigation*/

/* ======Google inspect========= */

@media screen and (min-width: 575px) {
    .navbar-nav {
        margin: 0 auto;
    }

    .social-media-menu {
        display: none;
    }
}


/* ---------------------  /.Header Navigation*/
/* --------------------------------------------  /.Header*/