* {
    padding: 0;
    margin: 0;
    border: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
    color: #000000;
}

h1 {
    font-size: 34px;
}

h2 {
    font-size: 26px;
}

h3 {
    font-size: 20px;
}

p {
    font-size: 16px;
    margin-bottom: 0;
}

a {
    text-decoration: none;
    color: #000000;
}

a:hover {
    filter: drop-shadow(0px 3px 1px #000);
    color: gold;
}

a:focus {
    text-decoration: none;
}

h1,
h2,
h3 {
    text-transform: uppercase;
    text-shadow: 1px 1px 2px darkgrey;
}

h1 {
    margin-top: 40px;
    margin-bottom: 30px;;
}

h2 {
    margin-top: 15px;
    margin-bottom: 15px;
}

p {
    text-shadow: 1px 1px 1px darkgrey;
}

.content-to-center {
    text-align: center;
}

.margin-bottom {
    margin-bottom: 40px;
}

/* ----------------------------------------------  \.Global*/


/* ----------------------------------------------  Colours*/

#hidden-section {
    background: linear-gradient(#f0f0f0,#fafafa,#fafafa,#f0f0f0);
}

#our-services {
    background: linear-gradient(#f0f0f0,#fafafa,#fafafa,#f0f0f0);
}

#about-us {
    background-color: #f5f5f5;
}

#testimonials {
    background: linear-gradient(#f0f0f0,#fafafa,#fafafa,#f0f0f0);
}

#contact-us {
    background-color: #f5f5f5;
}

#footer {
    background-color: #dee1e4;
}
/* ----------------------------------------------  \.Colours*/


/* ----------------------------------------------  Header*/

/* .logo-desk {
    background-color: gold;
    width: 95px;
    height: 105px;
    transform: rotate3d(27, 2, 25, 58deg);
    box-shadow: 11px 15px 20px 4px #c7b139;
    outline: solid 1px;
    outline-style: dotted;
    filter: blur(1px);
} */

/* .navbar-toggler-icon {
    background-image: url(data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e);
} */

.sticky-container {
    position: sticky;
    top: 0;
    z-index: 1;
    overflow: hidden;
}

.logo {
    position: absolute;
    left: 24px;
    top: -10px;
    z-index: 1;
}

.logo img{
    height: 70px;
    width: 70px;  
}

.logo-shadow {
    position: absolute;
    left: 18px;
    top: 31px;
    filter: blur(2px);
                        /* Google ispect */
    transform: rotate3d(37, 3, -96, -67deg);
}

.logo a:hover {
    filter: none;
}

.oxon-info-on-top {
    text-align: center;
    line-height: 30px;
    padding-top: 4px;
    margin: 0;
    background-color: #f0f0f0;
}

.bg-light {
    background-color: #dee1e4!important;
}


.social-media-icon {
    font-size: 30px;
    margin-right: 20px;
}


.navbar {
    padding-top: 0;
    padding-bottom: 0;
}

.navbar-nav li {
    margin-right: 10px;
    margin-left: 10px;;
}

.nav-item:hover {
    background-color: #f0f0f0;
    filter: drop-shadow(0px 2px 1px #000);
    border-radius: 3px;
    font-weight: 500;
    transition: .15s ease-in-out;
}

/* Social media block which appears on toggled menu found by Chrome inspect */
.navbar .social-media-menu {
    position: absolute;
    right: 0;
    top: 5px;
} 

.navbar-toggler:focus {
    box-shadow: 0 0 0 2px;
}

@media screen and (min-width: 575px) { /* 575*/
    .navbar-nav {
        margin: 0 auto;
        padding-top: 0;
        padding-bottom: 0;
    }

    .social-media-menu {
        display: none;
    }
}

/* Make size-font smaller due to menu wont fit */

@media screen and (max-width: 590px) {
    .navbar-nav .nav-item {
        font-size: 15px;
        filter: none;
        text-align: center;
    }
}

@media screen and (max-width: 860px) {
    .logo {
        left: 24px;
        top: -10px;
    }
}

@media screen and (max-width: 765px) {
    .logo {
        display: none;
    }
}

@media screen and (max-width: 575px) {
    .logo {
        display: block;
        left: 1%;
        top: 0px;
    }

    .logo-desk {
        display: none;
    }
}

/* --------------------------------------------  /.Header*/

/* --------------------------------------------  Animation section*/

.animation {
    height: 500px;
    background-color: rgb(0, 0, 0);
    position: relative;
}

.offer-table {
    position: absolute;
    right: 4%;
    top: 15%;
}

.white-logo img{
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%,-50%);
    height: 300px;
    opacity: 0;
}

.white-logo img {
    animation: img-animation 2s linear forwards;
    animation-delay: 1s;
}

@keyframes img-animation {
    0%
    {
        opacity: 0;
        filter: blur(10px);
    }
    100%
    {
        opacity: 1;
        filter: blur(0px);
    }
}

.company-name {
    position: absolute;
    left: 50%;
    top: 65%;
    transform: translate(-50%, -50%);
    color: #f9f9f9;
    font-size: 130px;
    font-weight: 700;
    -webkit-box-reflect: below 3px linear-gradient(transparent, #0008);
    line-height: 100px;
    text-shadow: 0px 0px 10px #f9f9f9,
                0px 0px 20px #f7f7f7,
                0px 0px 30px #f5f5f5,
                0px 0px 40px #03bfc4;
}

.company-name ul {
    list-style-type: none;
}

.company-name ul li {
    float: left;
    margin-left: 5px;
    margin-right: 5px;
    opacity: 0;
}

.company-name ul li:nth-child(1) {
    animation: name-rotate 2s linear forwards;
    
}

.company-name ul li:nth-child(2) {
    animation: name-rotate 2s linear forwards;
    animation-delay: 0.5s;
}

.company-name ul li:nth-child(3) {
    animation: name-rotate 2s linear forwards;
    animation-delay: 1s;
}

.company-name ul li:nth-child(4) {
    animation: name-rotate 2s linear forwards;
    animation-delay: 1.5s;
}

@keyframes name-rotate {
    0%
    {   
        transform: rotateY(90deg);
        opacity: 0;
        filter: blur(10px);
    }

    100%
    {
        transform: rotateY(0deg);
        opacity: 1;
        filter: blur(0px);
    }
}

/* .company-name {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: whitesmoke;
    font-size: 150px;
    font-weight: 700;
} */

/* .company-name span {
    position: absolute;
} */


/* .price-icon {
    font-size: 140px;
} */
/* .offer-table {
    height: 400px;
    width: 250px;
    background-color: #f5b81c;
    position: absolute;
    top: 120px;
    right: 8%;
} */

/* .offer-table {
    border-radius: 30px;
    transform: rotateZ(-25deg);
    padding: 15px;
    box-shadow: 0 0 15px #f5f5f5,
            0 0 20px #f5f5f5,
            0 0 30px #f5f5f5;
} */

/* .offer-table h2 {
    margin-top: 15px;
    margin-bottom: 15px;
} */

.price-icon {
    position: relative;
    font-size: 340px;
    transform: rotateZ(15deg);
    color: #f5b81c;
    filter: drop-shadow(2px 10px 10px #f0f0f0);
}

.price {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.price-rotation {
    transform: rotate(-30deg);
    width: 245px;
    height: 200px;
}

.old-price {
    text-decoration: line-through;
    color: red;
}

.new-price {
    color: black;
}

.offer-table-hidden {
    margin-top: 40px;
}

/* span.new-price {
    text-shadow: 1px, 1px, 3px,#f5b81c;
} */

@media screen and (max-width: 1280px) {
    /* .offer-table {
        height: 275px;
        width: 200px;
        transform: rotateZ(-45deg);
        right: 3%;
    } */
    .offer-table {
        top: 24%;
    }
    .price-icon {
        font-size: 240px;
    }

    .price-rotation {
        width: 169px;
        height: 148px;
    }

    .offer-table p .extra-text {
        display: none;
    }
}

@media screen and (max-width: 991px) {
    .company-name{
        font-size: 90px;
        line-height: 80px;
    }

    .offer-table {
        top: 27%;
    }

    .price-icon {
        font-size: 180px;
    }

    .price-rotation {
        width: 130px;
        height: 110px;
    }

    .hide-on-tablet {
        display: none;
    }
}

@media screen and (max-width: 766px) {
    .animation {
        height: 300px;
    }
    .white-logo img {
        /* top: 20%; */
        height: 200px;
    }

    .company-name{
        /* top: 45%; */
        font-size: 40px;
        line-height: 35px;
    }

    .price-icon {
        font-size: 140px;
    }

    .price-rotation {
        transform: rotate(-45deg);
        width: auto;
        height: auto;
    }
}

@media screen and (max-width: 575px) {
    .company-name {
        font-size: 30px;
    }
}

/* -------------------------------------------- \.Animation section*/

/* --------------------------------------------  Welcome section*/


/* You tube chanel Coder Coder */
.welcome-backgraund {
    position: relative;
    z-index: -1;
}

.welcome-backgraund::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;      
    left: 0;
    right: 0;
    background: url(../img/background/bg_1.jpg);
    background-size: cover;
    opacity: 0.2;
}

/* .welcome-backgraund::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;      
    left: 0;
    right: 0;
    background: linear-gradient(white, #00d4ff);
    opacity: 0.1;
} */
/* You tube chanel Coder Coder */

.welcome-section {
    width: 80%;
    margin: 0 auto;
}

.welcome-text p{
    font-size: 18px;
}

@media screen and (max-width: 885px) {
    .welcome-section {
        width: 90%;
    }

    .welcome-text p {
        font-size: 16px;
        text-align: center;
    }
}

/* --------------------------------------------  \.Welcome section*/

/* --------------------------------------------  Our Services*/
.service-title {
    margin-bottom: 45px;
}

.service-cell {
    height: 155px;
}

.service-icon {
    font-size: 80px;
    float: left;
    /* https://www.w3schools.com/ */
    filter: drop-shadow(5px 5px 1px #f5b81c);
}

.service-icon {
    margin-left: 10px;
    margin-right: 15px;
    height: 100%;
}

.service-icon img {
    width: 90px;
    outline-offset: 5px;
    outline-style: auto;
}

.service-text {
    margin-right: 10px;
}

.main-service-img1,
.main-service-img2,
.main-service-img3
 {
    background: url("../img/danvolks99.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 350px;
    max-width: 450px;
    position: relative;
    left: 50%;                      /* ---- To justify background into midle of div (https://www.w3schools.com/css/css3_2dtransforms.asp) */
    transform: translateX(-50%);    /* ---- To justify background into midle of div */
    box-shadow: 0 5px 5px 5px darkgrey;
    border-radius: 5px;
}

.main-service-img2 {
    background: url("../img/Mimzy.jpg");
    background-position: center;
    background-size: cover;
    /* min-height: 350px;
    max-width: 450px;
    position: relative;
    left: 50%;                      
    transform: translateX(-50%);     */
}

.main-service-img3 {
    background: url("../img/JensPRaak.jpg");
    background-position: center;
    background-size: cover;
    /* min-height: 350px;
    max-width: 450px;
    position: relative;
    left: 50%;                      
    transform: translateX(-50%);     */
}

@media screen and (max-width: 770px) {
    .service-cell {
        margin-bottom: 25px;
        height: auto;
    }

    .service-icon {
        text-align: center;
        height: auto;
        width: 100%;
        margin: 0;
        margin-bottom: 15px;
        /* margin: 0px 0 15px 0;
        transform: translateY(-20px); */
    }

    .service-text {
        text-align: center;
        margin-right: 0;
    }
}
/* --------------------------------------------  \.Our Services*/

/* --------------------------------------------  About US*/

.about-us-background {
    position: relative;
}

.about-us-background::before {
    content: '';
    position: absolute;
    background: url(../img/background/bg_2.jpg);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.2;
}

.about-us-cell {
    min-width: 320px;
    max-width: 500px;
    height: 170px;
    margin: 0 auto;
}

.about-us-image {
    width: 150px;
    height: 150px;
    float: left;
}

.about-us-image-1,
.about-us-image-2,
.about-us-image-3 {
    background: url(../img/Tumisu_owner.jpg);
    width: 150px;
    height: 150px;
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
    border: solid 5px grey;
    box-shadow: 0 0 15px 2px grey;
    transform: translate(-20px, 0px);
}

.about-us-image-2 {
    background: url(../img/junior_2.jpg);
    background-position: center;
    background-size: cover;
    transform: translate(20px, -5px);
}

.about-us-image-3 {
    background: url(../img/middle.jpg);
    background-position: center;
    background-size: cover;
    transform: translate(-20px, 30px);
}

.about-us-image-text {
    width: 70%;
    float: left;
}

.float-img-right {
    float: right;
    text-align: center;
}

.image-text-float-right {
    text-align: right;
}

.about-us-image-text p small {
    line-height: 40px;
}

@media screen and (max-width: 575px) {
    .media-img {
        width: 150px;
        height: 160px;
        margin: 0 auto;
    }

    .about-us-image-1,
    .about-us-image-2,
    .about-us-image-3 {
        transform: none;
    }

    .about-us-image-text {
        width: 100% !important;
        text-align: center !important;
        padding-left: 10px;
        padding-right: 10px;
    }
}

/* --------------------------------------------  \.About US*/
/* --------------------------------------------  Testimonials*/

.testimonials-img-1,
.testimonials-img-2,
.testimonials-img-3 {
    background: url(../img/client_1.jpg);
    width: 150px;
    height: 150px;
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
    border: solid 5px grey;
    box-shadow: 0 0 15px 2px grey;
    margin: 0 auto;
}

.testimonials-img-2 {
    background: url(../img/client_2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.testimonials-img-3 {
     background: url(../img/client_3.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.blockquote {
    margin-top: 1rem;
}


/* --------------------------------------------  \.Testimonials*/

/* --------------------------------------------  Contact Us*/

.contact-us-background {
    position: relative;
}

.contact-us-background::before {
    content: '';
    position: absolute;
    background: url(../img/background/bg_2.jpg);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transform: scale(-1);
    opacity: 0.2;
}

.map {
    position: relative;
    width: 60%;
    height: 450px;
    margin: 0 auto;
    box-shadow: 0 0 15px 2px grey;
    border-radius: 10px;
}

.contact-form, .contact-info {
    position: relative;
    width: 80%;
    margin: 0 auto;
    box-shadow: 0 0 15px 2px grey;
    border-radius: 10px;
    padding: 10px;
}

.contact-info {
    height: 100%;
}

.contact-form label {
    float: left;
}

.contact-form input, textarea {
    width: 100%;
    margin-bottom: 15px;
    background: rgba(0,0,0, 0.1);
    border-radius: 3px;
}

.contact-form input:focus, textarea:focus {
    outline: none;
}

input[type="submit"]:hover {
    background-color: #474747;
    color: #f0f0f0;
    font-weight: bold;
    filter: drop-shadow(0px 2px 3px black);
}

.margin-text {
    margin-top: 50px;
    margin-bottom: 25px;
}

@media screen and (max-width: 575px) {
    .map {
        width: 85%;
        height: 350px;
    }

    .contact-form, .contact-info {
        width: 90%;
    }
}

/* --------------------------------------------  \.Contact Us*/

/* --------------------------------------------  Footer*/

.footer {
    width: 100%;
}


.footer ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.footer-nav-item {
    display: inline-block;
}


.footer-nav-item {
    border-color: rgba(0,0,0, 0.1);
}

.footer-nav-item:hover {
    background-color: #f0f0f0;
    filter: drop-shadow(0px 2px 1px #000);
    border-radius: 3px;
    font-weight: 500;
    transition: .15s ease-in-out;
}

.footer-nav-item a:hover {
    color: black;
    filter: drop-shadow(0px 2px 1px #000);
}

li.footer-nav-item {
    text-decoration: none;
}

@media screen and (max-width: 635px) {
    .footer-nav-item {
        display: block;
    }

    .footer-nav-item:hover {
        filter: none;
    }
}

/* --------------------------------------------  \.Footer*/