* {
    padding: 0;
    margin: 0;
    border: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
    color: #000000;
}

h1 {
    font-size: 34px;
}

h2 {
    font-size: 26px;
}

h3 {
    font-size: 20px;
}

p {
    font-size: 16px;
    margin-bottom: 0;
}

a {
    text-decoration: none;
    color: #000000;
}

h1,
h2,
h3 {
    text-transform: uppercase;
}

h1 {
    margin-top: 40px;
    margin-bottom: 30px;;
}

h2 {
    margin-top: 10px;
    margin-bottom: 10px;
}

.content-to-center {
    text-align: center;
}

.margin-bottom {
    margin-bottom: 40px;
}

/* ----------------------------------------------  \.Global*/


/* ----------------------------------------------  Colours*/

#our-services {
    background-color: #f8f9fa;
}

#about-us {
    background-color: #f5f5f5;
}

#testimonials {
    background-color: #f8f9fa;
}

#contact-us {
    background-color: #f5f5f5;
}

/* ----------------------------------------------  \.Colours*/


/* ----------------------------------------------  Header*/

/* .logo-desk {
    background-color: gold;
    width: 95px;
    height: 105px;
    transform: rotate3d(27, 2, 25, 58deg);
    box-shadow: 11px 15px 20px 4px #c7b139;
    outline: solid 1px;
    outline-style: dotted;
    filter: blur(1px);
} */

.logo {
    position: absolute;
    left: 24px;
    top: -10px;
    z-index: 1;
}

.logo img{
    height: 80px;
    width: 80px;  
}

.logo-shadow {
    position: absolute;
    left: 18px;
    top: 31px;
    filter: blur(2px);
                        /* Google ispect */
    transform: rotate3d(37, 3, -96, -67deg);
}

.oxon-info-on-top {
    text-align: center;
    line-height: 30px;
    padding-top: 4px;
    margin: 0;
    background-color: #f5f5f5;
}

.social-media-icon {
    font-size: 30px;
    margin-right: 20px;
}


.navbar {
    padding-top: 0;
    padding-bottom: 0;
}

.sticky-container {
    position: sticky;
    top: 0;
    z-index: 1;
}

.navbar-nav li {
    margin-right: 10px;
    margin-left: 10px;;
}

/* Social media block which appears on toggled menu found by Chrome inspect */
.navbar .social-media-menu {
    position: absolute;
    right: 0;
    top: 5px;
} 

@media screen and (min-width: 575px) { /* 575*/
    .navbar-nav {
        margin: 0 auto;
        padding-top: 0;
        padding-bottom: 0;
    }

    .social-media-menu {
        display: none;
    }
}

/* Make size-font smaller due to menu wont fit */

@media screen and (max-width: 590px) {
    .navbar-nav .nav-item {
        font-size: 15px;
    }
}

@media screen and (max-width: 860px) {
    .logo {
        left: 24px;
        top: -10px;
    }
}

@media screen and (max-width: 765px) {
    .logo {
        display: none;
    }
}

@media screen and (max-width: 575px) {
    .logo {
        display: block;
        left: 1%;
        top: 0px;
    }

    .logo-desk {
        display: none;
    }
}

/* --------------------------------------------  /.Header*/

/* --------------------------------------------  Animation section*/

.animation {
    height: 400px;
    background-color: rgb(38, 85, 85);
    position: relative;
}

.offer-table {
    height: 400px;
    width: 250px;
    background-color: cadetblue;
    position: absolute;
    top: 120px;
    right: 8%;
}

.offer-table {
    border-radius: 30px;
    transform: rotateZ(-25deg);
    padding: 15px;
    box-shadow: 0 0 15px #f5f5f5,
            0 0 20px #f5f5f5,
            0 0 30px #f5f5f5;
}

.offer-table h2 {
    margin-top: 15px;
    margin-bottom: 15px;
}

.old-price {
    text-decoration: line-through;
}

.offer-table-hidden {
    margin-top: 40px;
}

@media screen and (max-width: 1024px) {
    .offer-table {
        height: 275px;
        width: 200px;
        transform: rotateZ(-15deg);
        right: 3%;
    }

    .offer-table p .extra-text {
        display: none;
    }
}

/* -------------------------------------------- \.Animation section*/

/* --------------------------------------------  Welcome section*/

.welcome-backgraund {
    background-color: aqua;
}

.welcome-section {
    width: 80%;
    margin: 0 auto;
}

.welcome-text p{
    font-size: 18px;
}

@media screen and (max-width: 885px) {
    .welcome-section {
        width: 90%;
    }

    .welcome-text p {
        font-size: 16px;
        text-align: center;
    }
}

/* --------------------------------------------  \.Welcome section*/

/* --------------------------------------------  Our Services*/

.service-title {
    margin-bottom: 45px;
}

.service-cell {
    height: 155px;
}

.our-service-section, .service-icon {
    font-size: 70px;
    float: left;
}

.service-icon {
    margin-left: 10px;
    margin-right: 10px;
    height: 100%;
}

.service-text {
    margin-right: 10px;
}

.main-service-img1 {
    background: url("../img/danvolks99.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 350px;
    max-width: 450px;
    position: relative;
    left: 50%;                      /* ---- To justify background into midle of div (https://www.w3schools.com/css/css3_2dtransforms.asp) */
    transform: translateX(-50%);    /* ---- To justify background into midle of div */
}

.main-service-img2 {
    background: url("../img/Mimzy.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 350px;
    max-width: 450px;
    position: relative;
    left: 50%;                      /* ---- To justify background into midle of div (https://www.w3schools.com/css/css3_2dtransforms.asp) */
    transform: translateX(-50%);    /* ---- To justify background into midle of div */
}

.main-service-img3 {
    background: url("../img/JensPRaak.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 350px;
    max-width: 450px;
    position: relative;
    left: 50%;                      /* ---- To justify background into midle of div (https://www.w3schools.com/css/css3_2dtransforms.asp) */
    transform: translateX(-50%);    /* ---- To justify background into midle of div */
}

@media screen and (max-width: 575px) {
    .service-cell {
        margin-bottom: 25px;
    }

    .service-icon {
        text-align: center;
        height: 30%;
        width: 100%;
        margin: 0px 0 15px 0;
        transform: translateY(-20px);
    }

    .service-text {
        text-align: center;
    }
}
/* --------------------------------------------  \.Our Services*/

/* --------------------------------------------  About US*/

.about-us-cell {
    min-width: 320px;
    max-width: 500px;
    height: 170px;
    margin: 0 auto;
}

.about-us-image {
    width: 150px;
    height: 150px;
    float: left;
}

.about-us-image-1,
.about-us-image-2,
.about-us-image-3 {
    background: url(../img/Tumisu_owner.jpg);
    width: 150px;
    height: 150px;
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
    border: solid 5px grey;
    box-shadow: 0 0 15px 2px grey;
    transform: translate(-20px, 0px);
}

.about-us-image-2 {
    background: url(../img/junior_2.jpg);
    background-position: center;
    background-size: cover;
    transform: translate(20px, -5px);
}

.about-us-image-3 {
    background: url(../img/middle.jpg);
    background-position: center;
    background-size: cover;
    transform: translate(-20px, 30px);
}

.about-us-image-text {
    width: 70%;
    float: left;
}

.float-img-right {
    float: right;
    text-align: center;
}

.image-text-float-right {
    text-align: right;
}

@media screen and (max-width: 575px) {
    .media-img {
        width: 150px;
        height: 160px;
        margin: 0 auto;
    }

    .about-us-image-1,
    .about-us-image-2,
    .about-us-image-3 {
        transform: none;
    }

    .about-us-image-text {
        width: 100% !important;
        text-align: center !important;
        padding-left: 10px;
        padding-right: 10px;
    }
}

/* --------------------------------------------  \.About US*/
/* --------------------------------------------  Testimonials*/

.testimonials-img-1,
.testimonials-img-2,
.testimonials-img-3 {
    background: url(../img/client_1.jpg);
    width: 150px;
    height: 150px;
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
    border: solid 5px grey;
    box-shadow: 0 0 15px 2px grey;
    margin: 0 auto;
}

.testimonials-img-2 {
    background: url(../img/client_2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.testimonials-img-3 {
     background: url(../img/client_3.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


/* --------------------------------------------  \.Testimonials*/

/* --------------------------------------------  Contact Us*/

.map {
    width: 60%;
    height: 450px;
}

.contact-form {
    width: 60%;
    margin: 0 auto;
}

.contact-form label {
    float: left;
}

.contact-form input, textarea {
    width: 100%;
    margin-bottom: 15px;
}

.margin-text {
    margin-top: 25px;
    margin-bottom: 25px;
}

@media screen and (max-width: 575px) {
    .map {
        width: 90%;
        height: 350px;
    }

    .contact-form {
        width: 90%;
    }
}

/* --------------------------------------------  \.Contact Us*/

/* --------------------------------------------  Footer*/

.footer {
    width: 100%;
}


.footer ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.footer-nav-item {
    display: inline-block;
}

li.footer-nav-item {
    text-decoration: none;
}

@media screen and (max-width: 635px) {
    .footer-nav-item {
        display: block;
    }
}

/* --------------------------------------------  \.Footer*/